
@{
    ViewBag.Title = "adminhome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center;padding-top:15% ; font-size:75px;font-family:'DejaVu Serif'; color :black;text-align:center ">
    Welcome Admin
</h1>
<h3 style="text-align:center;padding-top:1% ;color: black;text-align:center;font-family:'Gentium Book Basic' ">
    Kindly choose the operations that need to be performed
</h3>

