
@{
    ViewBag.Title = "deposit";
    Layout = "~/Views/Shared/cust_layout.cshtml";
}

<h2>deposit</h2>
<h2>searchaccount</h2>
@using (Html.BeginForm())
{

    <table>
        <tr>
            <td>
                Enter the Account ID
            </td>
            <td><input id="Text3" type="text" name="nm" /></td>
        </tr>
        <tr>
            <td>
                <input id="submit3" type="submit" value="Go" />
            </td>
        </tr>
    </table>
}


