
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/View.cshtml";
}

<h2 style="padding-top:50px;font-family:'Javanese Text';text-align:center">WRONG FORMAT ENTERED</h2>
<h1>@TempData["exx"]</h1>

<div>

    @Html.ActionLink("Back to Login", "login")
</div>



