
@{
    ViewBag.Title = "withdrawl";
    Layout = "~/Views/Shared/cust_layout.cshtml";
}

<h2 style="font-family:SimSun">WithDrawl</h2>
@using (Html.BeginForm())
{

    <table>
        <tr>
            <td>
                Enter the Account ID
            </td>
            <td><input id="Text4" type="text" name="nm" /></td>
        </tr>
        <tr>
            <td>
                <input id="submit4" type="submit" value="Go" />
            </td>
        </tr>
    </table>
}

